.mar{
    margin: 4rem;
    margin-top: 4rem;
}
.wdth{
    width:33.333333%;
}
@media screen and (max-width:1100px) {
    .mar{
        margin:2rem;
        margin-top: 4rem;
    }
    .wdth{
        width: 70%;
    }
}
@media screen and (max-width:600px) {
    .mar{
        margin:1rem;
        margin-top: 2rem;
    }
    .wdth{
        width: 100%;
    }
}
@media screen and (max-width:300px) {
    .mar{
        margin:0.25rem;
        margin-top: 0.5rem;
    }
    .wdth{
        width: 100%;
    }
}